.ShowCard {
  $root: &;
  display: block;
  width: 100%;
  background-color: $color-tint-alpha;

  @include hover-focus {
    text-decoration: none;
    color: $color-brand;

    #{$root}__content {
      border-bottom-color: $color-brand;
    }
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color .4s;
  }

  &__heading {
    font-family: $font-medium;
    font-size: 16px;
    margin-top: spacing(1.5);
    margin-bottom: spacing(1.5);

    @include breakpoint('sm') {
      margin-top: 0;
    }
  }

  &__meta {
    font-size: 14px;
    margin-bottom: spacing(0.5);

    &:last-of-type {
      margin-bottom: spacing(0.5);
    }
  }

  &__meta-time {
    font-size: 12px;
  }

  &__ratings {
    margin-top: spacing(2);
    margin-bottom: spacing();
  }

  &__ratings,
  &__meta {
    display: none;

    @include breakpoint('sm') {
      display: block;
    }
  }

  &__copy,
  &__meta,
  &__heading {
    transition: color .4s;
  }
}
