.Button {
  width: auto;
  padding: spacing() spacing(2);
  background-color: $color-brand;
  appearance: none;
  cursor: pointer;
  border: none;
  color: $color-tint-alpha;
  border-radius: (spacing(0.5) / 2);
  font-weight: bold;
  transition: background-color .4s;

  @include hover-focus {
    background-color: $color-alpha;
  }
}
