.ShowInfo {
  $root: &;
  width: 100%;
  position: relative;
  padding: spacing(6) 0;
  overflow: hidden;

  @include breakpoint('md') {
    padding: spacing(12) 0;
  }

  &__container {
    @include max-width-container;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint('md') {
      flex-wrap: nowrap;
    }
  }

  &__heading {
    font-size: 30px;
    font-family: $font-regular;
    margin-bottom: spacing(5);

    @include breakpoint('md') {
      margin-bottom: spacing(7);
    }
  }

  &__details,
  &__cast {
    width: 100%;
    margin-bottom: spacing(5);

    @include breakpoint('md') {
      width: 50%;
      margin-bottom: 0;
    }
  }

  &__details {
    @include breakpoint('md') {
      padding-right: spacing(6);
    }
  }

  &__cast {
    margin-bottom: 0;
  }

  &__table {
    width: 100%;
    font-size: 20px;

    &-body {
      display: flex;
      flex-wrap: wrap;
    }

    &-row {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0;
      width: 50%;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 0 0 spacing(3);

      @include breakpoint('sm') {
        margin-bottom: 0;
        height: 100px;
      }

      @include breakpoint('md') {
        border-bottom: 1px solid $color-brand;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: row;
      }
    }

    &-cell {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      font-family: $font-light;

      @include breakpoint('md') {
        padding: 0 spacing(2);
      }
    }

    &-cell--image {
      max-width: 58px;

      @include breakpoint('md') {
        max-width: 74px;
      }

      @include breakpoint('md') {
        max-width: 90px;
        margin-right: spacing(6);
        overflow: hidden;
      }
    }

    &-heading {
      width: 100%;

      @include breakpoint('md') {
        max-width: 214px; // From Sketch File
      }
    }
  }

  &__table-body--cast {
    #{$root} {
      &__table-row {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        height: 80px;
        margin-bottom: 0;

        @include breakpoint('sm') {
          height: 100px;
        }

        @include breakpoint('md') {
          width: 100%;
          align-items: center;
          justify-content: flex-start;
        }
      }

      &__table-heading {
        width: 100%;
        margin-left: spacing(3);

        @include breakpoint('md') {
          display: flex;
          margin-left: 0;
          max-width: none;
        }
      }

      &__real-name {
        font-weight: normal;
        font-family: $font-light;
        display: block;

        @include breakpoint('md') {
          margin-left: auto;
          display: inline;
        }
      }
    }
  }
}
